---
import Layout from '../layouts/Layout.astro';
import Preloader from '../components/Preloader.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Marquee from '../components/Marquee.astro';
import ThermoScroll from '../components/ThermoScroll.astro';
import Services from '../components/Services.astro';
import Process from '../components/Process.astro';
import Stats from '../components/Stats.astro';
import Testimonials from '../components/Testimonials.astro';
import CTABanner from '../components/CTABanner.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Preloader />
  <Header />
  <main>
    <Hero />
    <Marquee />
    <ThermoScroll />
    <Services />
    <Process />
    <Stats />
    <Testimonials />
    <CTABanner />
  </main>
  <Footer />
</Layout>
